# Disable directory listings for URLs that map to a directory
Options -Indexes

# Turn on expiry
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 10 years"
</IfModule>

# Configure ETags
<FilesMatch "\.(jpg|jpeg|gif|png|mp3|flv|mov|avi|3pg|3gp|3g2|html|htm|swf|js|ico)$">
	FileETag MTime Size
</FilesMatch>

<IfModule mod_rewrite.c>

RewriteEngine on

RewriteRule ^country\/([a-zA-z]+)\/$ /index.php?_jurisdiction=$1 [QSA]
RewriteRule ^country\/([a-zA-z]+)$ /index.php?_jurisdiction=$1 [QSA]

</IfModule>
